@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: rgb(28, 27, 40);
	color: #fff;
	min-height: 100vh;
}

#app {
	min-height: 100vh;
}

main {
	min-height: calc(100vh - 81px);
}

.my-notification {
	padding: 12px 24px;
	margin: 8px;
	border-radius: 4px;
	border-width: 2px;
	border-style: solid;
	border-left-width: 6px;
	border-left-style: solid;
	cursor: pointer;
	
	&.success {
		background-color: #d1e7dd;
		border-color: #81af9a;
		color: #0a3622;
	}

	&.error {
		background-color: #f2b8be;
		border-color: #cf737c;
		color: #6c2d33;
	}
}